{% extends "admin/base.html" %}
{% load static admin_notification_tags %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} |
    {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}

    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin_notification/css/notifications.css' %}">

{% endblock %}

{% block nav-global %}{% endblock %}
{% block branding %}
    {% get_admin_notification_item as items %}
    <div class ="dropdown">
        <button href="{% url 'check_notifications' %}" class="dropbtn">
            <div class="notification-box">
                <img class="notification-img" src="{% static 'admin_notification/img/notification.png' %}" alt="">
                <span class="badge">{{ items.count }}</span>
            </div>
        </button>
        {%if user.is_authenticated%}
        <div class="dropdown-content">
            {%for item in items.result%}
            <a href="">Model <span class="badge-orange">{{item.model}}</span> has <span class="badge-orange">{{item.count}}</span> new instances</a> 
            {%endfor%}
        </div>
        {%endif%}
    </div>
    <h1 id="site-name">
        <span id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></span>
    </h1>
{% endblock %}
